@import url("https://stockfont.org/?69772035349a8e4ece6e05f415d0c8ca31fff37ef65a22d6e1d3704659936440");
$white: #ffffff;
$headerBackground: #778baf;
$navbar: #333333;
$black: #000000;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Oxygen-Regular", times, verdana, sans-serif;

    background-color: $white;

     > img {
        display: block;

        width: 100%;
    }
}

header {
    background-color: $headerBackground;

    h1 {
        font-size: 4em;
        font-weight: bold;
        font-style: italic;

        padding-top: 20px;
        padding-bottom: 20px;

        text-align: center;

        color: $white;
        text-shadow: 2px 2px 2px $black;
    }
}

.nav {
    background-color: $navbar;

    ul {
        display: flex;
        justify-content: center;

        list-style-type: none;

        li {
            width: 150px;

            text-align: center;

            ul {
                position: absolute;

                display: block;
                overflow: hidden;

                max-height: 0;
                margin: 0;

                -webkit-transition: max-height 1s;
                        transition: max-height 1s;

                background-color: $navbar;
            }

            &:hover ul {
                max-height: 500px;
            }
        }
    }

    a {
        display: block;

        padding-top: 10px;

        text-decoration: none;

        color: $white;
    }
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    width: 70vw;
    min-height: 50vh;
    margin: auto;

    color: #444444;
    background-color: #dddddd;
    -webkit-box-shadow: 0 0 10px #888888;
            box-shadow: 0 0 10px #888888;

    h2 {
        font-size: 2em;
    }

     > section {
        display: flex;
        flex: 4;
        flex-flow: row wrap;

        article {
            flex: 1 100%;

            padding: 2em;
        }
    }

     > nav {
        flex: 1;

        padding: 2em;

        background-color: $navbar;

        a {
            display: block;

            text-decoration: none;

            color: $white;
        }
    }

     > article {
        flex: 4;

        padding: 2em;
    }
}

.home {
    width: 60vw;
    padding: 5vw;
}

p, li, h2 {
    margin-bottom: 1em;
}

pre {
    margin-top: 20px;

    code {
        display: block;
    }
}

code {
    background-color: #cccccc;
}

footer {
    padding: 10px;

    background-color: #cccccc;
}

form {
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
    justify-content: center;

    margin-top: 2em;

    border-top: 1px solid #888888;

     > * {
        flex: 1 50%;
    }

     > p {
        flex: 2 100%;
    }

    select, label, input, textarea {
        margin-top: 20px;
        padding: 10px;
    }

    input[type="text"], input[type="password"] {
        color: #999999;
    }

    input[type="submit"] {
        font-size: 100px;

        width: 200px;
        height: 200px;
    }
}

textarea {
    height: 100px;

    color: #999999;
}

section a {
    color: #444444;
}
