@import url("https://stockfont.org/?69772035349a8e4ece6e05f415d0c8ca31fff37ef65a22d6e1d3704659936440");
$white: #ffffff;
$black: #000000;
$headerBackground: #778baf;
$navbar: #333333;
$main: #dddddd;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Oxygen-Regular", times, verdana, sans-serif;

    display: flex;
    flex-flow: column;

    min-height: 100vh;

    background-color: $white;

     > img {
        display: block;

        width: 100%;
    }
}

header {
    background-color: $headerBackground;

    h1 {
        font-size: 4em;
        font-weight: bold;
        font-style: italic;

        padding-top: 20px;
        padding-bottom: 20px;

        text-align: center;

        color: $white;
        text-shadow: 2px 2px 2px $black;
    }
}

.nav {
    z-index: 1;

    background-color: $navbar;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    ul {
        display: flex;
        justify-content: center;

        list-style-type: none;


        li {
            width: 150px;

            text-align: center;

            ul {
                position: absolute;

                display: block;
                overflow: hidden;

                max-height: 0;
                margin: 0;

                -webkit-transition: max-height 1s;
                        transition: max-height 1s;

                background-color: $navbar;
            }

            &:hover ul {
                max-height: 500px;

                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            }
        }
    }

    a {
        display: block;

        padding-top: 10px;
        padding-bottom: 10px;

        text-decoration: none;

        color: $white;
    }
}

main {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: center;

    color: #444444;
    background-color: $main;
    -webkit-box-shadow: 0 0 10px #888888;
            box-shadow: 0 0 10px #888888;

    h3 {
        flex: 1 100%;

        padding: 1em;

        text-align: center;
    }

     > nav {
        flex: 1;

        padding: 2em;

        background-color: $navbar;

        a {
            display: block;

            margin-bottom: 0.5em;

            text-decoration: none;

            color: $white;
        }
    }

    article {
        flex: 4;

        padding: 0 2em 2em 2em;
    }
}

p, h2 {
    margin-bottom: 1em;
}

footer {
    padding: 10px;

    background-color: #cccccc;
}

form {
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
    justify-content: center;

    margin-top: 2em;

    border-top: 1px solid #888888;

     > * {
        flex: 1 50%;
    }

     > textarea,  > p {
        flex: 2 100%;
    }

    select, label, input, textarea {
        margin-top: 20px;
        padding: 10px;
    }
}

table {
    width: 100%;
}

textarea {
    height: 100px;
}

// source: https://simplesharebuttons.com/html-share-buttons/ , accessed on: 27.12.2017
#share-buttons {
    a {
        display: inline-block;
    }

    img {
        display: inline;

        width: 50px;
        padding: 5px;
    }
}

h3 ~ .categoryList {
    a {
        display: block;

        transition: 0.3s;
        text-decoration: none;

        color: $black;

        &:hover {
            text-decoration: underline;
        }
    }
}

.article {
    p:first-of-type {
        color: red;
    }
}

.articleLink {
    margin-bottom: 0.1em;
    padding: 0.2em;

    border: 1px solid $black;
    a {
        display: block;

        transition: 0.3s;
        text-decoration: none;

        color: $black;

        div {
            transition: 0.3s;
        }

        div:first-of-type {
            font-weight: 800;
        }

        &:hover {
            background-color: darken($main, 10%);
            div:first-of-type {
                text-decoration: underline;

                // color: red;
            }
        }
    }
}

.login {
    width: 50%;
    margin: auto;
}

@media screen and (min-width: 900px) {
    main {
        width: 70vw;
        margin: auto;
    }
}
